# Sparkify Project Workspace
This workspace contains a tiny subset (128MB) of the full dataset available (12GB). Feel free to use this workspace to build your project, or to explore a smaller subset with Spark before deploying your cluster on the cloud. Instructions for setting up your Spark cluster is included in the last lesson of the Extracurricular Spark Course content.

You can follow the steps below to guide your data analysis and model building portion of this project.

In [53]:
# import libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, col, concat, desc, explode, lit, min, max, split, udf, isnull
from pyspark.sql.types import IntegerType

from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import CountVectorizer, IDF, Normalizer, RegexTokenizer, StandardScaler, StringIndexer, VectorAssembler
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

In [3]:
import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
# create a Spark session
spark = SparkSession.builder \
        .master("local") \
        .appName("Sparkify Project") \
        .getOrCreate()

# Load and Clean Dataset
In this workspace, the mini-dataset file is `mini_sparkify_event_data.json`. Load and clean the dataset, checking for invalid or missing data - for example, records without userids or sessionids.

In [10]:
# read the data from the json file
df = spark.read.json("mini_sparkify_event_data.json")
df.persist()

DataFrame[artist: string, auth: string, firstName: string, gender: string, itemInSession: bigint, lastName: string, length: double, level: string, location: string, method: string, page: string, registration: bigint, sessionId: bigint, song: string, status: bigint, ts: bigint, userAgent: string, userId: string]

In [18]:
# number of rows and columns in the data
print("The number of rows in the dataframe: {}".format(df.count()))
print("The number of columns in the dataframe: {}".format(len(df.columns)))

The number of rows in the dataframe: 286500
The number of columns in the dataframe: 18

In [11]:
# show the columns of the data
df.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [12]:
# the first row of the data
df.head(1)

[Row(artist='Martha Tilston', auth='Logged In', firstName='Colin', gender='M', itemInSession=50, lastName='Freeman', length=277.89016, level='paid', location='Bakersfield, CA', method='PUT', page='NextSong', registration=1538173362000, sessionId=29, song='Rockpools', status=200, ts=1538352117000, userAgent='Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', userId='30')]

In [29]:
# userId & sessionId missing values
userId_nan = df.filter(isnull(col("userId"))).count()
sessionId_nan = df.filter(isnull(col("sessionId"))).count()
print("The number of missing values in userId column: {}".format(userId_nan))
print("The number of missing values in sessionId column: {}".format(sessionId_nan))

The number of missing values in userId column: 0
The number of missing values in sessionId column: 0

In [32]:
# count userId empty values
userId_empty = df.filter(df.userId == "").count()
print("The number of empty values in userId column: {}".format(userId_empty))

The number of empty values in userId column: 8346

In [34]:
# remove records with empty userId
df = df.filter(df.userId != '')

In [35]:
# stats about the data
df.describe(df.columns[:6]).show()
df.describe(df.columns[6:13]).show()
df.describe(df.columns[13:]).show()

+-------+------------------+---------+---------+------+------------------+--------+
|summary|            artist|     auth|firstName|gender|     itemInSession|lastName|
+-------+------------------+---------+---------+------+------------------+--------+
|  count|            228108|   278154|   278154|278154|            278154|  278154|
|   mean| 551.0852017937219|     null|     null|  null|114.89918174824018|    null|
| stddev|1217.7693079161374|     null|     null|  null|  129.851729399489|    null|
|    min|               !!!|Cancelled| Adelaida|     F|                 0|   Adams|
|    max| ÃÂlafur Arnalds|Logged In|   Zyonna|     M|              1321|  Wright|
+-------+------------------+---------+---------+------+------------------+--------+

+-------+-----------------+------+-----------------+------+-------+--------------------+------------------+
|summary|           length| level|         location|method|   page|        registration|         sessionId|
+-------+-----------------+------+-----------------+------+-------+--------------------+------------------+
|  count|           228108|278154|           278154|278154| 278154|              278154|            278154|
|   mean|249.1171819778458|  null|             null|  null|   null|1.535358834084427...|1042.5616241362698|
| stddev|99.23517921058361|  null|             null|  null|   null| 3.291321616327586E9| 726.5010362219813|
|    min|          0.78322|  free|       Albany, OR|   GET|  About|       1521380675000|                 1|
|    max|       3024.66567|  paid|Winston-Salem, NC|   PUT|Upgrade|       1543247354000|              2474|
+-------+-----------------+------+-----------------+------+-------+--------------------+------------------+

+-------+--------------------+------------------+--------------------+--------------------+-----------------+
|summary|                song|            status|                  ts|           userAgent|           userId|
+-------+--------------------+------------------+--------------------+--------------------+-----------------+
|  count|              228108|            278154|              278154|              278154|           278154|
|   mean|            Infinity|209.10321620397335|1.540958915431871...|                null|59682.02278593872|
| stddev|                 NaN|30.151388851328214|1.5068287123306298E9|                null|109091.9499991047|
|    min|ÃÂg ÃÂtti Gr...|               200|       1538352117000|"Mozilla/5.0 (Mac...|               10|
|    max|ÃÂau hafa slopp...|               404|       1543799476000|Mozilla/5.0 (comp...|               99|
+-------+--------------------+------------------+--------------------+--------------------+-----------------+

# Exploratory Data Analysis
When you're working with the full dataset, perform EDA by loading a small subset of the data and doing basic manipulations within Spark. In this workspace, you are already provided a small subset of data you can explore.

### Define Churn

Once you've done some preliminary analysis, create a column `Churn` to use as the label for your model. I suggest using the `Cancellation Confirmation` events to define your churn, which happen for both paid and free users. As a bonus task, you can also look into the `Downgrade` events.

### Explore Data
Once you've defined churn, perform some exploratory data analysis to observe the behavior for users who stayed vs users who churned. You can start by exploring aggregates on these two groups of users, observing how much of a specific action they experienced per a certain time unit or number of songs played.

# Feature Engineering
Once you've familiarized yourself with the data, build out the features you find promising to train your model on. To work with the full dataset, you can follow the following steps.
- Write a script to extract the necessary features from the smaller subset of data
- Ensure that your script is scalable, using the best practices discussed in Lesson 3
- Try your script on the full data set, debugging your script if necessary

If you are working in the classroom workspace, you can just extract features based on the small subset of data contained here. Be sure to transfer over this work to the larger dataset when you work on your Spark cluster.

# Modeling
Split the full dataset into train, test, and validation sets. Test out several of the machine learning methods you learned. Evaluate the accuracy of the various models, tuning parameters as necessary. Determine your winning model based on test accuracy and report results on the validation set. Since the churned users are a fairly small subset, I suggest using F1 score as the metric to optimize.

# Final Steps
Clean up your code, adding comments and renaming variables to make the code easier to read and maintain. Refer to the Spark Project Overview page and Data Scientist Capstone Project Rubric to make sure you are including all components of the capstone project and meet all expectations. Remember, this includes thorough documentation in a README file in a Github repository, as well as a web app or blog post.